@import "../styles.css/variables.scss";

.display-none {
	display: none;
}

body.dark-theme {
	text-shadow: none;
	color: $white4;
	h1 {
		color: $white2;
	}
	h2 {
		color: $white2;
	}
	button {
		background-color: $black1;
		border: 1px solid $black3;
		color: $white2;
	}
	button:hover {
		background-color: #2f2f33;
	}
	#title-bar {
		background-color: $black3;
	}
	#main-page {
		background-color: $black4;
		#main-con {
			border: 1px solid $black1;
			#create-window {
				background-color: $black3;
				border: none;
				border-bottom: 1px solid $black1;
				input {
					background-color: $black1;
					border: 1px solid $black3;
					color: $white4;
				}
			}
			#project-con {
				background-color: $black2;
				#project-title {
					background-color: $black3;
					border-bottom: 1px solid $black1;
				}
				#start-project {
					border: 1px solid $black3;
				}
				.project-card {
					background-color: $black3;
					border-bottom: 1px solid $black1;
				}
			}
			#task-con {
				background-color: $black2;
				#task-title {
					background-color: $black3;
					border-bottom: 1px solid $black1;
				}
				.task-card {
					background-color: $black3;
					border-bottom: 1px solid $black1;
				}
			}
		}
		#validation-con {
			background-color: $black1;
			box-sizing: border-box;
			box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			padding: 2rem 1rem 2rem 1rem;
			width: 200px;
			height: 200px;
			display: flex;
			flex-direction: column;
			align-items: baseline;
			span {
				height: 100%;
			}
			div {
				width: 100%;
				button {
					background-color: $black3;
					border: 1px solid $black1;
					height: max-content;
				}
			}
		}
	}
}
