@import "../styles.css/variables.scss";

.display-none {
	display: none;
}

body.dark-theme {
	text-shadow: none;
	color: $white4;
	h1 {
		color: $white2;
	}
	h2 {
		color: $white2;
	}
	button {
		background-color: $black1;
		border: 1px solid $black3;
		color: $white2;
	}
	button:hover {
		background-color: #2f2f33;
	}
	#title-bar {
		background-color: $black3;
	}
	#main-page {
		background-color: $black4;
		#main-con {
			border: 1px solid $black1;
			#project-con {
				background-color: $black2;
				#project-title {
					background-color: $black3;
					border-bottom: 1px solid $black1;
				}
				#start-project {
					border: 1px solid $black3;
				}
				.project-card {
					background-color: $black3;
					border-bottom: 1px solid $black1;
				}
			}
			#task-con {
				background-color: $black2;
				#task-title {
					background-color: $black3;
					border-bottom: 1px solid $black1;
				}
				.task-card {
					background-color: $black3;
					border-bottom: 1px solid $black1;
				}
			}
		}
	}
}

#create-window {
	background-color: $black3;
	border: 1px solid $black1;
	input {
		background-color: $black1;
		border: 1px solid $black3;
	}
}
