#note-con {
	height: 100%;
	#note-title {
		width: 100%;
		height: 3em;
		box-sizing: border-box;
		border-bottom: 1px solid black;
		padding-left: 4px;
		display: flex;
		align-items: center;
		h2 {
			margin: 0;
		}
	}
}
