@import "../styles.css/variables.scss";

#project-con {
	height: 100%;
	background-color: $white2;
	#project-title {
		width: 100%;
		height: 3em;
		box-sizing: border-box;
		background-color: $white3;
		border-bottom: 1px solid $white1;
		padding-left: 1%;
		display: flex;
		align-items: center;
		h2 {
			margin: 0;
		}
		#project-title-tasks {
			justify-self: center;
		}
	}
	.project-card {
		width: 100%;
		height: max-content;
		background-color: $white3;
		border-bottom: 1px solid $white1;
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 6fr 1fr 0.5fr;
		gap: 1px;
		align-items: center;
		justify-content: center;
		padding: 2px;
		padding-left: 3%;
		.card-info-con {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			align-items: center;
			h2 {
				margin-top: 6px;
				margin-bottom: 6px;
				font-size: calc(12px + 0.75vh);
			}
			.due-task-con {
				display: grid;
				grid-template-columns: 1fr 1fr;
				font-size: calc(12px + 0.5vh);
			}
		}
		.btn {
			padding: 0.7rem;
			height: 100%;
			width: 100%;
			justify-self: flex-end;
		}
	}
}
