@import "../styles.css/variables.scss";

#task-con {
	height: 100%;
	background-color: $white2;
	#task-title {
		width: 100%;
		height: 3em;
		box-sizing: border-box;
		background-color: $white3;
		border-bottom: 1px solid $white1;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		#task-h2 {
			padding-left: 1%;
			margin: 0;
		}
		#back-btn {
			margin: 0;
		}
	}
	.task-card {
		width: 100%;
		height: max-content;
		background-color: $white3;
		border-bottom: 1px solid $white1;
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 6fr 1fr 0.5fr;
		gap: 1px;
		align-items: center;
		justify-content: center;
		padding: 2px;
		padding-left: 3%;
		h2 {
			margin: 0;
			font-size: calc(12px + 1vh);
		}
		div {
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: 1px;
			.btn {
				height: 100%;
				padding: 0;
			}
		}

		.btn {
			padding: 1em 0;
			height: 100%;
			width: 100%;
		}
	}
}
