#task-con {
	height: 100%;
	#task-title {
		width: 100%;
		height: 3em;
		box-sizing: border-box;
		border-bottom: 1px solid black;
		padding-left: 1em;
		display: flex;
		align-items: center;
		#task-h2 {
			padding-left: 1rem;
			margin: 0;
		}
	}
	.task-card {
		width: 100%;
		height: max-content;
		background-color: lightgray;
		border-bottom: 1px solid black;
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 6fr 1fr 0.5fr;
		align-items: center;
		justify-content: center;
		padding: 2px;
		h2 {
			margin: 0;
		}
		div {
			height: 100%;
			display: flex;
			flex-direction: column;
			.btn {
				height: 100%;
				padding: 0;
			}
		}
	}
}
