@import "../styles.css/variables.scss";

#task-con {
	height: 100%;
	background-color: $white2;
	#task-title {
		width: 100%;
		height: 3em;
		box-sizing: border-box;
		background-color: $white3;
		border-bottom: 1px solid $white1;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		#task-h2 {
			padding-left: 1%;
			margin: 0;
		}
		#back-btn {
			margin: 0;
			padding: 0.6rem;
		}
	}
	.task-card {
		width: 100%;
		height: max-content;
		background-color: $white3;
		border-bottom: 1px solid $white1;
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 6fr 1fr 0.5fr;
		gap: 1px;
		align-items: center;
		justify-content: center;
		padding: 2px;
		padding-left: 3%;
		h2 {
			margin-top: 6px;
			margin-bottom: 6px;
			font-size: calc(12px + 0.75vh);
		}
		div {
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: 1px;
			.btn {
				height: 100%;
				padding: 0;
			}
		}

		.btn {
			padding: 0.7rem;
			height: 100%;
			width: 100%;
		}
	}
	#create-window {
		form {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
			align-items: center;
			justify-content: center;
			div {
				display: flex;
				justify-content: flex-end;
				button {
					width: max-content;
				}
			}
		}
	}
}
