html,
body {
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.btn {
	padding: 1em;
}

#top-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 5vh;
	background-color: gray;
}

#project-con {
	padding: 5%;
	flex: 1;
	background-color: darkgray;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
}
