html,
body {
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
}

.btn {
	padding: 1em;
}

.display-none {
	display: none;
}

#title-bar {
	display: flex;
	align-items: center;
	height: 5vh;
	background-color: gray;
	padding-left: 1em;
}

#create-window {
	width: 100%;
	height: 7.5%;
	background-color: lightgray;
	border: 1px solid black;
	box-sizing: border-box;
	padding-left: 1em;
	form {
		height: 100%;
		display: grid;
		grid-template-columns: 50% 25% 25%;
		align-items: center;
		justify-content: center;
		input,
		button {
			width: fit-content;
		}
	}
}

#main-page {
	flex: 1;
	background-color: darkgray;
	padding: 1em;
	display: flex;
	justify-content: center;
	#main-con {
		width: 100vh;
		height: 75vh;
		background-color: gray;
		box-sizing: border-box;
		#project-con {
			height: 100%;
			#project-title {
				width: 100%;
				height: 7.5%;
				padding-left: 1em;
				display: flex;
				align-items: center;
			}
			.project-card {
				width: 100%;
				height: 7.5%;
				background-color: lightgray;
				border: 1px solid black;
				box-sizing: border-box;
				display: grid;
				grid-template-columns: 50% 25% 25%;
				align-items: center;
				justify-content: center;
				padding-left: 1em;
				h2 {
					margin: 0;
				}
			}
		}
		#task-con {
			height: 100%;
			#task-title {
				width: 100%;
				height: 7.5%;
				padding-left: 1em;
				display: flex;
				align-items: center;
				#task-h2 {
					padding-left: 1rem;
				}
			}
			.task-card {
				width: 100%;
				height: 7.5%;
				background-color: lightgray;
				border: 1px solid black;
				box-sizing: border-box;
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: center;
				justify-content: center;
				padding-left: 1em;
				h2 {
					margin: 0;
				}
			}
		}
	}
}
