html,
body {
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
}

.btn {
	padding: 1em;
}

#title-bar {
	display: flex;
	align-items: center;
	width: 100vw;
	height: 5vh;
	background-color: gray;
	padding-left: 1em;
}
#main-window {
	flex: 1;
	background-color: darkgray;
	padding: 1em;
	display: flex;
	justify-content: center;
	#project-con {
		width: 100vh;
		height: 75vh;
		background-color: gray;
		box-sizing: border-box;
		#top-bar {
			width: 100%;
			height: 7.5%;
			padding-left: 1em;
			display: flex;
			align-items: center;
		}
		#create-window {
			width: 100%;
			height: 7.5%;
			background-color: lightgray;
			border: 1px solid black;
			box-sizing: border-box;
			padding-left: 1em;
			form {
				height: 100%;
				display: grid;
				grid-template-columns: 50% 25% 25%;
				align-items: center;
				justify-content: center;
				input,
				button {
					width: fit-content;
				}
			}
		}
		.project-card {
			width: 100%;
			height: 7.5%;
			background-color: lightgray;
			border: 1px solid black;
			box-sizing: border-box;
			display: grid;
			grid-template-columns: 50% 25% 25%;
			align-items: center;
			justify-content: center;
			padding-left: 1em;
			h2 {
				margin: 0;
			}
		}
	}
}
