@import "../styles.css/project-con.scss";
@import "../styles.css/task-con.scss";
@import "../styles.css/note-con.scss";

html,
body {
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
}

.btn {
	padding: 1em;
}

.display-none {
	display: none;
}

#title-bar {
	display: flex;
	align-items: center;
	height: 3em;
	background-color: gray;
	padding-left: 1em;
}

#create-window {
	width: 100%;
	height: 7.5%;
	background-color: lightgray;
	border: 1px solid black;
	box-sizing: border-box;
	padding-left: 1em;
	form {
		height: 100%;
		display: grid;
		grid-template-columns: 3fr 1fr 1fr 1fr;
		align-items: center;
		justify-content: center;
		input,
		button {
			width: fit-content;
		}
	}
}

#main-page {
	flex: 1;
	background-color: darkgray;
	padding-top: 1em;
	display: flex;
	justify-content: center;
	#main-con {
		width: 100vh;
		min-width: 280px;
		height: 100%;
		border: 1px solid black;
		border-bottom: none;
		background-color: gray;
		box-sizing: border-box;
	}
}
