@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#project-con {
  height: 100%;
  background-color: #f4f4f5;
}
#project-con #project-title {
  width: 100%;
  height: 3em;
  box-sizing: border-box;
  background-color: #fafafa;
  border-bottom: 1px solid #e4e4e7;
  padding-left: 1%;
  display: flex;
  align-items: center;
}
#project-con #project-title h2 {
  margin: 0;
}
#project-con #project-title #project-title-tasks {
  justify-self: center;
}
#project-con #start-project {
  border: 1px solid #fafafa;
  border-radius: 90px;
}
#project-con .project-card {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #fafafa;
  border-bottom: 1px solid #e4e4e7;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 6fr 1fr 0.5fr;
  gap: 1px;
  align-items: center;
  justify-content: center;
  padding: 2px;
  padding-left: 3%;
  overflow-wrap: break-word;
}
#project-con .project-card .card-info-con {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
}
#project-con .project-card .card-info-con h2 {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: calc(12px + 0.75vh);
}
#project-con .project-card .card-info-con .due-task-con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: calc(12px + 0.5vh);
}
#project-con .project-card .btn {
  padding: 0.7rem;
  height: 100%;
  width: 100%;
  justify-self: flex-end;
}

#task-con {
  height: 100%;
  background-color: #f4f4f5;
}
#task-con #task-title {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  box-sizing: border-box;
  background-color: #fafafa;
  border-bottom: 1px solid #e4e4e7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-wrap: anywhere;
}
#task-con #task-title #task-h2 {
  padding-left: 1%;
  margin: 0;
}
#task-con #task-title #back-btn {
  margin: 0;
  padding: 0.6rem;
}
#task-con .task-card {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #fafafa;
  border-bottom: 1px solid #e4e4e7;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 6fr 1fr 0.5fr;
  gap: 1px;
  align-items: center;
  justify-content: center;
  padding: 2px;
  padding-left: 3%;
  overflow-wrap: break-word;
}
#task-con .task-card h2 {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: calc(12px + 0.75vh);
  overflow-wrap: anywhere;
}
#task-con .task-card div {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
#task-con .task-card div .btn {
  height: 100%;
  padding: 0;
}
#task-con .task-card .btn {
  padding: 0.7rem;
  height: 100%;
  width: 100%;
}
#task-con #create-window form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  align-items: center;
  justify-content: center;
}
#task-con #create-window form div {
  display: flex;
  justify-content: flex-end;
}
#task-con #create-window form div button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.display-none {
  display: none;
}

body.dark-theme {
  text-shadow: none;
  color: #d4d4d8;
}
body.dark-theme h1 {
  color: #f4f4f5;
}
body.dark-theme h2 {
  color: #f4f4f5;
}
body.dark-theme button {
  background-color: #27272a;
  border: 1px solid #3b3b42;
  color: #f4f4f5;
}
body.dark-theme button:hover {
  background-color: #2f2f33;
}
body.dark-theme #title-bar {
  background-color: #3b3b42;
}
body.dark-theme #main-page {
  background-color: #18181b;
}
body.dark-theme #main-page #main-con {
  border: 1px solid #27272a;
}
body.dark-theme #main-page #main-con #create-window {
  background-color: #3b3b42;
  border: none;
  border-bottom: 1px solid #27272a;
}
body.dark-theme #main-page #main-con #create-window input {
  background-color: #27272a;
  border: 1px solid #3b3b42;
  color: #d4d4d8;
}
body.dark-theme #main-page #main-con #project-con {
  background-color: #34343a;
}
body.dark-theme #main-page #main-con #project-con #project-title {
  background-color: #3b3b42;
  border-bottom: 1px solid #27272a;
}
body.dark-theme #main-page #main-con #project-con #start-project {
  border: 1px solid #3b3b42;
}
body.dark-theme #main-page #main-con #project-con .project-card {
  background-color: #3b3b42;
  border-bottom: 1px solid #27272a;
}
body.dark-theme #main-page #main-con #task-con {
  background-color: #34343a;
}
body.dark-theme #main-page #main-con #task-con #task-title {
  background-color: #3b3b42;
  border-bottom: 1px solid #27272a;
}
body.dark-theme #main-page #main-con #task-con .task-card {
  background-color: #3b3b42;
  border-bottom: 1px solid #27272a;
}

.display-none {
  display: none;
}

html,
body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: #18181b;
}
html h1,
body h1 {
  font-size: 3vh;
  margin: 0;
  color: #34343a;
}
html h2,
body h2 {
  font-size: 2.75vh;
  color: #34343a;
}
html button,
body button {
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  background-color: #e4e4e7;
  border-radius: 90px;
  border: 1px solid #fafafa;
  cursor: pointer;
  color: #34343a;
}
html button:hover,
body button:hover {
  background-color: #ebebeb;
}

#title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #fafafa;
}
#title-bar #title-bar-con {
  display: flex;
  align-items: center;
  width: 100vh;
  min-width: 280px;
}
#title-bar #title-bar-con button {
  padding: 0.7rem;
  margin-left: auto;
}

#main-page {
  flex: 1;
  background-color: #d4d4d8;
  padding-top: 1%;
  display: flex;
  justify-content: center;
}
#main-page #main-con {
  width: 100vh;
  min-width: 280px;
  height: 100%;
  border: 1px solid #e4e4e7;
  border-bottom: none;
  box-sizing: border-box;
}
#main-page #validation-con {
  background-color: #e4e4e7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 200px;
}

#create-window {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #fafafa;
  border-bottom: 1px solid #e4e4e7;
  box-sizing: border-box;
}
#create-window form {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 2px;
}
#create-window form input {
  background-color: #e4e4e7;
  border: 1px solid #fafafa;
  border-radius: 90px;
  padding: 2%;
}
#create-window form #input-con {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  align-items: center;
  justify-content: center;
}
#create-window form #input-con #due-input {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#create-window form #input-con #add-button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}/*# sourceMappingURL=style.css.map */