@import "../styles.css/project-con.scss";
@import "../styles.css/task-con.scss";
@import "../styles.css/dark-theme.scss";
@import "../styles.css/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.display-none {
	display: none;
}

html,
body {
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
	color: $black4;
	h1 {
		font-size: 3vh;
		margin: 0;
		color: $black2;
	}
	h2 {
		font-size: 2.75vh;
		color: $black2;
	}
	button {
		font-family: "Roboto", sans-serif;
		padding: 1rem;
		background-color: $white1;
		border-radius: 90px;
		border: 1px solid $white3;
		cursor: pointer;
		color: $black2;
	}
	button:hover {
		background-color: #ebebeb;
	}
}

#title-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: max-content;
	background-color: $white3;
	#title-bar-con {
		display: flex;
		align-items: center;
		width: 100vh;
		min-width: 280px;
		button {
			padding: 0.7rem;
			margin-left: auto;
		}
	}
}

#main-page {
	flex: 1;
	background-color: $white4;
	padding-top: 1%;
	display: flex;
	justify-content: center;
	#main-con {
		width: 100vh;
		min-width: 280px;
		height: 100%;
		border: 1px solid $white1;
		border-bottom: none;
		box-sizing: border-box;
	}
	#validation-con {
		background-color: $white1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 200px;
		height: 200px;
	}
}

#create-window {
	width: 100%;
	height: max-content;
	background-color: $white3;
	border-bottom: 1px solid $white1;
	box-sizing: border-box;
	form {
		height: 100%;
		display: flex;
		align-items: center;
		padding: 2px;
		input {
			background-color: $white1;
			border: 1px solid $white3;
			border-radius: 90px;
			padding: 2%;
		}
		#input-con {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
			align-items: center;
			justify-content: center;
			#due-input {
				width: max-content;
			}
			#add-button {
				width: max-content;
				margin-left: auto;
			}
		}
	}
}
